*/download-all-images/images/*
generate-db-*.sh
.vscode
.~lock.card.csv#
.~lock.card.ods#
.~lock.cards.csv#
.~lock.cards.ods#
.DS_Store
cards.ods
cards.csv
node_modules
*.pyc
__pycache__
node_modules
